<settings>
  <servers>
    <server>
      <id>nexus-release</id>
      <username>${{ secrets.NEXUS_USERNAME }}</username>
      <password>${{ secrets.NEXUS_PASSWORD }}</password>
    </server>
    <server>
      <id>nexus-snapshot</id>
      <username>${{ secrets.NEXUS_USERNAME }}</username>
      <password>${{ secrets.NEXUS_PASSWORD }}</password>
    </server>
  </servers>
</settings>
